# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Base de datos
*.db
*.sqlite3

# Directorios de entornos virtuales
venv/
env/
ENV/
.env

# Archivos de IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Archivos de distribución y paquetes
dist/
build/
*.egg-info/

# Logs
*.log
logs/

# Archivos temporales
.pytest_cache/
.coverage
htmlcov/
